/* Css Class For implemet custom style/change inline css*/

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: rgb(255, 0, 0) !important;
  text-decoration: line-through;
}

.react-datepicker__header {
  background-color: #96dd92 !important;
}

.react-datepicker__navigation {
  background: green !important;
}

.ui.card,
.ui.cards>.card {
  background-color: #D9499A;
}

.img-width{
  width: 100% !important;
}
.img-height{
  height: 65% !important;
}
.react-datepicker{
  width:70% !important;
}
.react-datepicker__month-container {
  float: none !important;
}